.mobile-nav-wrapper {
  padding-top: 6px;
}

.header__menu-toggle {
  position: absolute;
  left: 10px;
  top: 6px;
  border: none;
  padding: 6px 8px 5px;
  margin: 0;
  color: #fff; 
  background: $logo-color;
  font-size: 16px;
  border: 1px solid $logo-color;
  border-radius: 5px;
}

.three-line {
  position: relative;
  padding-left: 1.25em;
}

.three-line:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
  border-top: 0.375em double #000;
  border-bottom: 0.125em solid #000;
}

.side-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 9999;
}

.side-nav--visible {
  pointer-events: auto;
}

.side-nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.side-nav__container {
  position: relative;
  width: 90%;
  max-width: 400px;
  background: #FFF;
  height: 100%;
  box-shadow: 2px 0 12px rgba(0,0,0,0.4);
  transform: translateX(-102%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.side-nav--animatable .side-nav__container {
  transition: transform 0.13s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible.side-nav--animatable .side-nav__container {
  transition: transform 0.33s cubic-bezier(0,0,0.3,1);
}

.side-nav--visible::before {
  opacity: 1;
}

.side-nav--visible .side-nav__container {
  transform: none;
}

.side-nav__hide {
  position: absolute;
  left: 16px;
  top: 16px;
  background: none;
  border: none;
  color: #fff;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.side-nav__header {
  height: 200px;
  background: $logo-color;
  color: #FFF;
  display: flex;
  padding: 16px;
  align-items: flex-end;
  font-size: 24px;

  img {
    width: 180px;
  }
}

.side-nav__content {
  padding-top: 32px;
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.side-nav__content li {
  height: 48px;
  line-height: 48px;
  padding: 0 16px;

  a {
    display: block;
    width: 100%;
    heiht: 100%;
    color: #072e54;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.side-nav__content li:hover {
  background: #eee;
}
