html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  @include rem(font-size, 1.6rem);
  padding-top: $main-header-full-height;
  color: $text-color;
}

*:focus {
  outline: none;
}

